<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dmu.mapper.MyCollectMapper">
	<resultMap type="MyCollect" id="collectmap">
		<result column="pid" property="pid"/>
		<association property="product" select="com.dmu.mapper.ProductMapper.selProductById" column="pid"></association>
	</resultMap>
	<select id="selAllCollectByUid" parameterType="int" resultMap="collectmap">
		select * from my_collect where uid=#{0}
	</select>
</mapper>